<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Promesas</h2>
</div>
<main>


    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" *ngFor="let user of users">
                    <div class="card shadow-sm">
                        <img src="{{ user.avatar }}" class="card-img-top"
                            alt="{{ user.first_name }} {{ user.last_name }}">
                        <div class="card-body">
                            <p class="card-text">{{ user.first_name }} {{ user.last_name }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                                <small class="text-muted">{{ user.email }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>