
<main>


    <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2 border-bottom">Servicios web en Angular</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          
          <h2>Servicios Web</h2>
          <p>Ejemplo de uso de un servicio web y mapeo de objetos</p>
          <a [routerLink]="['reqres']" class="icon-link">
            ir al ejemplo
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
        <div class="feature col">
          <h2>Promesas</h2>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a [routerLink]="['promesas']" class="icon-link">
            Call to action
          </a>
        </div>
        <div class="feature col">
          <h2>Firebase</h2>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a [routerLink]="['firebase']" class="icon-link">
            Call to action
          </a>
        </div>
      </div>
    </div>
  
    <div class="b-example-divider"></div>